# Dependencies
node_modules/
/frontend/node_modules/

# Production builds
dist/
/frontend/dist/
/backend/target/
target/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
